html, body {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 50px;
  margin: 3% 1%;
}

header {
  background-color: #6559fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator {
  background-color: #d4fde6;
  padding: 5%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
